/* Base Styles */

/* Variables */
  // Color
  $white: rgba(255,255,255,1); // #ffffff
  $off-white: rgba(243,243,243,1); // #f3f3f3
  $black: rgba(21,19,20,1); // #151314
  $red: rgba(176,78,67,1); // #b04e43
  $grey: rgba(193,195,197,1); // #c1c3c5
  $light-grey: rgba(245,245,244,1); // #f5f5f4

  // Base Type
  $headline: "refrigerator-deluxe-1","refrigerator-deluxe-2", Helvetica, Arial, sans-serif;
  $body:  "proxima-nova", Helvetica, Arial, sans-serif;

  // Elements
  $divider: 1px solid rgba(229,229,229,1); /* #E5E5E5 */



// Highlights
::-moz-selection{ background: #333; color:#fff; text-shadow: none; }
::selection { background:#333; color:#fff; text-shadow: none; }
a:link { -webkit-tap-highlight-color: none; }


// Global Elements
html, body {
}
body {
  -webkit-backface-visibility: hidden;
  text-rendering: optimizelegibility;

  // HiDPI/Retina Media Query
  @include hdpi {
    background-image:  url('../img/');
  }
}

a {
  text-decoration: none;
  @include transition(color 0.25s linear);
  &:hover {
  }
}


h1, h2, h3, h4, h5, h6 {
  font-family: "refrigerator-deluxe-1","refrigerator-deluxe-2", Helvetica, Arial, sans-serif;
}
p{

}
ol{
  list-style-type: none;
  margin: 0;
  padding: 0;
}


.hey-facebook{
  display: block;
  background: $red;
  position: absolute;
  z-index: 300;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

i{
  display: block;
  background: $red;
  @include size(162px, 10px);
}