/* Base Styles */

/* Variables */
  // Color
  $white: rgba(255,255,255,1); // #ffffff
  $off-white: rgba(243,243,243,1); // #f3f3f3
  $black: rgba(21,19,20,1); // #151314
  $red: rgba(176,78,67,1); // #b04e43
  $grey: rgba(193,195,197,1); // #c1c3c5
  $light-grey: rgba(245,245,244,1); // #f5f5f4

  // Base Type
  $headline: "refrigerator-deluxe-1", "refrigerator-deluxe-2", Helvetica, Arial, sans-serif;
  $body-copy:  "proxima-nova", Helvetica, Arial, sans-serif;

  // Elements
  $divider: 1px solid rgba(229,229,229,1); /* #E5E5E5 */



// Highlights
::-moz-selection{ background: #333; color:#fff; text-shadow: none; }
::selection { background:#333; color:#fff; text-shadow: none; }
a:link { -webkit-tap-highlight-color: none; }


// Global Elements
html, body {
}
body {
  text-rendering: optimizelegibility;
  -webkit-backface-visibility: hidden;
  -webkit-font-smoothing: antialiased;
  font-size: 14px;
  // @include hdpi {
  //   background-image:  url('../img/');
  // }
}
h1, h2, h3, h4, h5, h6 {
  font-family: $headline;
}
p{
  font-family: $body-copy;
  font-size: 1em;
}
ol{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  @include transition(color 0.25s linear);
  &:hover {
  }
}
i{
  display: block;
  background: $red;
  margin: 10px auto;
  @include size(75px, 5px);
}

.hey-facebook{
  display: block;
  background: $grey url('../img/bg-500.jpg') no-repeat;
  background-size: 100%;
  position: relative;
  z-index: 200;
  padding: 50px 20px;
  text-align: center;
  text-transform: uppercase;
  color: $white;
  h1{
    margin: 0;
  }
}

.main{
  position: relative;
  top: 0;
  z-index: 300;
  background: $white;
}
